node_modules
dist
coverage
.nx
.angular
.storybook-static
.git
.gitignore
.DS_Store
*.log
npm-debug.log
bun-debug.log
.env
.env.*
apps/account-backend/uploads
apps/account-frontend/.angular
apps/account-frontend/dist
apps/account-frontend/storybook-static
**/*.spec.ts
**/*.test.ts