<mat-toolbar class="toolbar">
  <app-cacic-logo class="logo" fillColor="light-dark(#000, #fff)" />
  <h1 class="title">Conta</h1>
  <span class="spacer"></span>

  <div class="user-info">
    <button matIconButton [matMenuTriggerFor]="menu" class="avatar-btn" aria-label="Abrir menu do usuário">
      @if (currentUser()?.picture; as userPicture) {
        <img [ngSrc]="userPicture" class="avatar" fill="true" alt="Avatar do usuário" priority />
      } @else {
        <mat-icon class="avatar">account_circle</mat-icon>
      }
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <div class="menu-header">
      <div class="user-details">
        <span class="user-name">{{ userDisplayName() }}</span>
        <br />
        <span class="user-email">{{ currentUser()?.email }}</span>
      </div>
    </div>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      Sair
    </button>
  </mat-menu>
</mat-toolbar>

<!-- *ngIf="showOnboardingForm" -->
<div class="onboarding-container">
  @if (showOnboardingForm) {
    <div class="onboarding-card">
      <h2>Cadastro</h2>

      <mat-card-content>
        <div class="form-container">
          <app-profile-form
            [initialData]="initialFormData()"
            [defaultUnespRole]="defaultUnespRole"
            [identityFieldLocks]="identityFieldLocks()"
            [isEditMode]="false"
            [layoutMode]="'stepper'"
            (saveSuccess)="onProfileSaveSuccess($event)"
            (saveError)="onProfileSaveError($event)" />
        </div>
      </mat-card-content>
    </div>
  } @else {
    <div class="privacy-summary">
      <h2>Como tratamos seus dados</h2>
      <mat-accordion class="privacy-accordion" multi="false">
        <mat-expansion-panel [expanded]="sectionIndex() === 0" (opened)="sectionIndex.set(0)">
          <mat-expansion-panel-header>
            <mat-panel-title>Uso dos dados</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="privacy-section">
            <div class="privacy-item">
              <span class="privacy-icon">
                <mat-icon>person</mat-icon>
              </span>
              <div>
                <div class="privacy-title">Nome completo</div>
                <div class="privacy-description">
                  Identificação em nossos sistemas e para a emissão de certificados. Por isso, é importante que ele
                  esteja correto e completo.
                </div>
              </div>
            </div>

            <div class="privacy-item">
              <span class="privacy-icon">
                <mat-icon>phone</mat-icon>
              </span>
              <div>
                <div class="privacy-title">Telefone</div>
                <div class="privacy-description">
                  Para contatos urgentes, como problemas em inscrições em eventos, e exclusivamente por WhatsApp.
                </div>
              </div>
            </div>

            <div class="privacy-item">
              <span class="privacy-icon">
                <mat-icon>badge</mat-icon>
              </span>
              <div>
                <div class="privacy-title">CPF</div>
                <div class="privacy-description">
                  Para a sua identificação e para a emissão de certificados. Se você é estrangeiro, usaremos o número do
                  seu passaporte.
                </div>
              </div>
            </div>

            <div class="privacy-item">
              <span class="privacy-icon">
                <mat-icon>school</mat-icon>
              </span>
              <div>
                <div class="privacy-title">Vínculo com a Unesp</div>
                <div class="privacy-description">
                  Para personalizar a sua experiência em nossas plataformas, com recursos e conteúdos específicos para a
                  comunidade unespiana.
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="sectionIndex() === 1 || showOnboardingForm" (opened)="sectionIndex.set(1)">
          <mat-expansion-panel-header>
            <mat-panel-title>Quem tem acesso aos meus dados?</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="privacy-section">
            <div class="privacy-item">
              <span class="privacy-icon">
                <mat-icon>storage</mat-icon>
              </span>
              <div>
                <div class="privacy-title">DTI e DMC da FCT-Unesp</div>
                <div class="privacy-description">
                  A Diretoria Técnica de Informática hospeda os sistemas do CACiC e o Departamento de Matemática e
                  Computação é o responsável por intermediar esse serviço. Essas entidades tratam os dados de acordo com
                  a legislação da Unesp.
                </div>
              </div>
            </div>

            <div class="privacy-item">
              <span class="privacy-icon">
                <mat-icon>terminal</mat-icon>
              </span>
              <div>
                <div class="privacy-title">Administradores de sistemas do CACiC</div>
                <div class="privacy-description">
                  Pessoas, autorizadas e atestadas por comissão externa, que gerenciam os servidores do CACiC.
                </div>
              </div>
            </div>

            <div class="privacy-item">
              <span class="privacy-icon">
                <mat-icon>groups_3</mat-icon>
              </span>
              <div>
                <div class="privacy-title">Diretores do CACiC</div>
                <div class="privacy-description">
                  Alguns diretores do CACiC têm acesso a dados pessoais para a gestão das plataformas.
                </div>
              </div>
            </div>

            <div class="privacy-item">
              <span class="privacy-icon">
                <mat-icon>apps</mat-icon>
              </span>
              <div>
                <div class="privacy-title">Aplicativos terceiros</div>
                <div class="privacy-description">
                  Aplicativos que você fizer login usando sua conta do CACiC. O CACiC decide quais dados são
                  compartilhados com esses aplicativos e impõe exigências de tratamento de dados para eles.
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="privacy-footer">
        <button mat-flat-button color="primary" aria-label="Continuar" (click)="continueToNextSection()">
          Continuar
        </button>
      </div>

      <div class="privacy-fab">
        <button matFab extended color="primary" aria-label="Continuar" (click)="continueToNextSection()">
          <mat-icon>arrow_forward</mat-icon>
          Continuar
        </button>
      </div>
      <p>
        Ao continuar, você concorda com a
        <a href="https://cacic.com.br/legal/privacy-policy">Política de Privacidade </a> e com a
        <a href="https://cacic.com.br/kb/CACiC/Legal/Licen%C3%A7a%20de%20uso%20de%20imagem">Licença de uso de imagem</a>
        do CACiC.
      </p>
    </div>
  }
</div>
