<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button routerLink="/settings">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Integrações</span>
  <span class="spacer"></span>
</mat-toolbar>

<div class="settings-container">
  <mat-list>
    @for (integration of integrations; track integration.route) {
      <mat-list-item [routerLink]="integration.route">
        <mat-icon matListItemIcon>{{ integration.icon }}</mat-icon>
        <span matListItemTitle>{{ integration.title }}</span>
        <span matListItemLine>{{ integration.description }}</span>
      </mat-list-item>
    }
  </mat-list>
</div>
